.cards, .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 25px;
}

.card-box {
    width: 400px;
    height: 250px;
    margin: 75px;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    font-size: 20px;
}

.card-img {
    width: 400px;
    height: 250px;
    border-radius: 23px;
}

.card-text {
    margin: 15px;
}

.back-card {
    /* Centrer les éléments au centre de la carte */
    background: rgba(255, 255, 255, .1);
}

.center {
    text-align: center;
}

.bottom-card {
    margin-top: 80px;
}

.text-container {
    margin-top: 35px;
    margin-left: 15px;
}